
.nav {
    display: flex;
    justify-content: space-between;
}
.list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
section {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.basliqlar1 {
    width: 150px;
    height: 150px;
    background-color: red;
}
.basliqlar2 {
    width: 150px;
    height: 150px;
    background-color: blue;
}
h1 {
    width: 100;
    font-size: 30px;
    color: black;
    background-color: red;
    height: 30px;
}
header, main, footer {
    background-color: black;
}
DIV {
    text-align: center;
}